* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  background-color: aqua;
}

.hero__section {
  width: 100%;
}
.hero__section img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.test {
  height: 70vh;
  background-color: blue;
}
